@charset "UTF-8";
@font-face {
  font-family: "Banny";
  font-display: swap;
  src: url("../fonts/BannyBoldRound.woff") format("woff"), url("../fonts/BannyBoldRound.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url(../fonts/icons.woff2#icons) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon0]::before,
[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon0]::before,
[class*=_icon-]::before {
  display: block;
}

._icon-phone:before {
  content: "";
}

._icon-location:before {
  content: "";
}

._icon-mail:before {
  content: "";
}

._icon-facebook:before {
  content: "";
}

._icon-instagram:before {
  content: "";
}

._icon-twitter:before {
  content: "";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

body {
  color: black;
  font-size: 14px;
  height: 100%;
}
@media (max-width: 767.98px) {
  body._locked .wrapper {
    overflow: hidden;
  }
}

.page {
  height: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
._container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

* {
  font-family: "Open Sans";
  font-size: 16px;
  color: black;
}

.footer {
  background-color: black;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__copyright, .footer__copyright b {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans";
  font-size: 12px;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-image: url(../img/main/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-height: 800px) {
  .header {
    min-height: unset;
    height: 800px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-height: 800px) {
  .header__container {
    height: 800px;
  }
}
.header__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__left {
  max-width: 215px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__center {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  flex-grow: 1;
}
.header__right {
  max-width: 215px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__schedule {
  color: white;
  font-size: 12;
  font-family: "Open Sans";
  font-weight: bold;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: inline;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header__restaurant {
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 6px;
  padding-bottom: 20px;
}
.header__heading {
  color: white;
  font-family: "Banny";
  text-transform: uppercase;
  font-size: calc(50px + 16 * (100vw / 1280));
}
.header__line {
  margin-top: 30px;
}
.header__buttons {
  display: grid;
  max-width: 440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  gap: 40px;
  grid-template-rows: 60px;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1280pxpx) {
  .header__buttons {
    gap: calc(20px + 20 * ((100vw - 320px) / 1280px - 320));
  }
}
@media (max-width: 767.98px) {
  .header__buttons {
    grid-template-rows: 60px 60px;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) and (max-width: 1280pxpx) {
  .header__buttons {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1280px - 320));
  }
}
@media (max-width: 767.98px) {
  .header__buttons .header__button {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
  }
}
.header__arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  bottom: 85px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  color: #333;
  background-color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  position: absolute;
}
.header__arrow-down:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
      -ms-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
}
.header__arrow-down span {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 20px;
}
@media (max-width: 479.98px) {
  .header__arrow-down {
    display: none;
  }
}
@media (max-height: 700px) {
  .header__arrow-down {
    display: none;
  }
}
.header__links {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 220px;
  height: 100%;
}
.header__social-item {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.2);
  width: 60px;
  height: 60px;
}
.header__social-item::before {
  -webkit-transition: text-shadow 0.3s;
  -o-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}
.header__social-item:hover::before {
  text-shadow: 0 0 60px white;
}
@media (max-width: 479.98px) {
  .header__social-item {
    width: 40px;
    height: 40px;
  }
}
.header__button {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  width: 100%;
  max-height: 60px;
  height: 100%;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.header__button:hover {
  background-color: #E8C300;
  border-color: rgba(255, 255, 255, 0);
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
}
@media (min-width: 767.98px) {
  .nav._not-top {
    max-height: 40px;
  }
}
.nav._container {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 767.98px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .nav {
    display: block;
    height: 0px;
  }
  .nav__list {
    display: none;
  }
  .nav__list_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: scroll;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0, -120%);
        -ms-transform: translate(0, -120%);
            transform: translate(0, -120%);
    background-color: rgba(0, 0, 0, 0.9);
  }
  .nav__list_mobile._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .nav__logo {
    position: fixed;
    z-index: 100;
    margin: 0;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .nav__logo._active {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100px;
  max-width: 530px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 530px;
  -webkit-transition: background-color 0.3s, max-height 0.3s;
  -o-transition: background-color 0.3s, max-height 0.3s;
  transition: background-color 0.3s, max-height 0.3s;
}
@media (max-width: 1280pxpx) {
  .nav__list {
    max-width: calc(300px + 230 * ((100vw - 320px) / 1280px - 320));
  }
}
.nav__list_mobile {
  display: none;
}
@media (min-width: 767.98px) {
  .nav__list._not-top {
    background-color: rgba(0, 0, 0, 0.7);
    max-height: 40px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .nav__list._not-top .nav__link {
    background-color: rgba(0, 0, 0, 0);
    max-height: 40px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 0;
    padding-top: 0;
  }
}
.nav__link {
  padding: 40px 5%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: center;
  max-width: 100px;
  width: 100%;
  -webkit-transition: text-shadow 0.2s;
  -o-transition: text-shadow 0.2s;
  transition: text-shadow 0.2s;
}
.nav__link:hover {
  text-shadow: 0px 0px 20px pink;
}
.nav__logo {
  display: block;
  max-height: 150px;
  max-width: 150px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  background-image: url(../img/main/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: background-color 0.3s, max-height 0.3s, max-width 0.3s, margin-top 0.3s;
  -o-transition: background-color 0.3s, max-height 0.3s, max-width 0.3s, margin-top 0.3s;
  transition: background-color 0.3s, max-height 0.3s, max-width 0.3s, margin-top 0.3s;
}
@media (min-width: 767.98px) {
  .nav__logo._not-top {
    background-color: rgba(0, 0, 0, 0);
    max-height: 0;
    max-width: 0;
    margin-top: 0;
  }
}

.yellow-line {
  border-style: none;
  background-color: #E8C300;
  width: 60px;
  height: 5px;
  border-radius: 3px;
  margin-bottom: 30px;
}

.section-heading {
  color: black;
  font-size: 36px;
  font-family: "Banny";
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.section-small-heading {
  font-family: "Open Sans";
  line-height: 14px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._no-top-padding {
  padding-top: 0px !important;
}

.regular-section {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 475px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 767.98px) {
  .regular-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .regular-section:not(._reverse) {
    padding-bottom: 10px;
  }
  .regular-section._reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 10px;
  }
}
.regular-section__text {
  max-width: 590px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.regular-section__image {
  position: relative;
  max-width: 100%;
  max-height: 475px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto\9 ;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 767.98px) {
  .regular-section {
    max-height: unset;
  }
  .regular-section__image {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.bold-paragraph {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
}

.regular-paragraph {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

._white {
  color: white;
}

.square-image {
  max-width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto\9 ;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
@media (max-width: 479.98px) {
  .square-image {
    height: 250px;
    width: 250px;
  }
}

.yellow-square {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-color: #E8C300;
  border-width: 20px;
  position: relative;
  z-index: 20;
}
.yellow-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.yellow-square._right {
  -webkit-transform: translate(150%, -150%);
      -ms-transform: translate(150%, -150%);
          transform: translate(150%, -150%);
}
.yellow-square._left {
  -webkit-transform: translate(-50%, -150%);
      -ms-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}
@media (max-width: 767.98px) {
  .yellow-square {
    display: none;
  }
}

b {
  font-weight: bold;
}

._reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.input-base {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #E5E5E5;
  font-family: "Open Sans";
  color: black;
  border-radius: 5px;
  border-style: none;
  outline: none;
  padding: 10px;
}
.input-base::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.input-base::-moz-placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.input-base:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.input-base::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.input-base::placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.input-base::after {
  color: rgba(51, 51, 51, 0.5);
}
.input-base:invalid {
  color: rgba(51, 51, 51, 0.5);
}

select.input-base {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 30px;
  background-image: url(../img/icons/arrow-down.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
select option:disabled {
  color: rgba(51, 51, 51, 0.5);
}

.yellow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 60px;
  background-color: #E8C300;
  outline: none;
  border-style: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  color: white;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  cursor: pointer;
}
.yellow-button:hover {
  background-color: #f7cd00;
  -webkit-box-shadow: 0px 0px 37px 0px rgba(232, 195, 0, 0.32);
          box-shadow: 0px 0px 37px 0px rgba(232, 195, 0, 0.32);
}

.our-team {
  background-image: url(../img/our-team/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.book__container {
  padding-bottom: 0;
}
.book__left {
  width: 100%;
}
.book__form-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 60px 60px 60px;
  gap: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1280pxpx) {
  .book__form-section {
    gap: calc(5px + 5 * ((100vw - 320px) / 1280px - 320));
  }
}
@media (max-width: 479.98px) {
  .book__form-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.book__submit {
  grid-column: span 2;
}
.book__schedule-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  text-align: center;
}
.book__schedule, .book__schedule a, .book__schedule b {
  color: rgba(51, 51, 51, 0.5);
  font-size: 12px;
  font-family: "Open Sans";
}
.book__schedule a {
  text-decoration: none;
}
.book__schedule a:hover {
  text-decoration: underline;
}

.specialties {
  background-image: url(../img/specialties/bg.png);
  background-size: cover;
  padding-bottom: 50px;
}
.specialties__swiper-pagination .swiper-pagination-bullet {
  background-color: white;
  margin: 0 8px !important;
  width: 10px;
  height: 10px;
}

.food-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.food-menu__bold-paragraph {
  max-width: 565px;
}
.food-menu__tabs-tabs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 840px;
  max-height: 50px;
  height: 100%;
  margin: 50px auto;
}
.food-menu__tabs-tabs button {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  cursor: pointer;
  max-width: 120px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.food-menu__tabs-tabs button:not(:last-child) {
  border-right-color: rgba(51, 51, 51, 0.2);
  border-right-style: solid;
}
.food-menu__tabs-tabs button:hover {
  background-color: rgba(51, 51, 51, 0.025);
}
@media (max-width: 767.98px) {
  .food-menu__tabs-tabs {
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  .food-menu__tabs-tabs button {
    border-color: rgba(51, 51, 51, 0.2) !important;
    width: 100%;
  }
  .food-menu__tabs-tabs button:not(:last-child) {
    border-right-color: rgba(51, 51, 51, 0);
    border-right-style: solid;
  }
}
.tabs-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.tabs__body {
  display: none;
  margin-top: 20px;
}
.tabs__body._active {
  display: grid;
  grid-template-columns: minmax(100px, 363px) minmax(100px, 363px) minmax(100px, 363px);
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
  -webkit-column-gap: 3%;
     -moz-column-gap: 3%;
          column-gap: 3%;
  row-gap: 30px;
}
@media (max-width: 767.98px) {
  .tabs__body._active {
    grid-template-columns: minmax(100px, 363px) minmax(100px, 363px);
    grid-template-rows: 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px;
    row-gap: 20px;
  }
}
@media (max-width: 479.98px) {
  .tabs__body._active {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    row-gap: 10px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
.tabs__content {
  min-height: 450px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.tab-item {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 363px;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (max-width: 479.98px) {
  .tab-item {
    max-width: 310px;
  }
}
.tab-item:hover {
  background-color: rgba(51, 51, 51, 0.025);
}
.tab-item__heading {
  font-family: "Banny";
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.tab-item__dots {
  font-family: "Banny";
  font-weight: bold;
  font-size: 18px;
}
.tab-item__desctiprion {
  font-family: "Open Sans";
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
}
.tab-item__price {
  font-family: "Banny";
  font-weight: bold;
  font-size: 18px;
}

.private-events {
  background-image: url(../img/events/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.private-events__container {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}
.private-events__text {
  text-transform: uppercase;
  text-align: center;
  font-family: "Banny";
  font-size: calc(16px + 16 * (100vw / 1280));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}
.private-events__text-wrapper {
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  height: 15%;
  width: calc(100% - 29px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.private-events__text-wrapper._right {
  bottom: 50%;
  -webkit-transform: translateX(-43%) translateY(50%) rotate(-90deg);
      -ms-transform: translateX(-43%) translateY(50%) rotate(-90deg);
          transform: translateX(-43%) translateY(50%) rotate(-90deg);
  left: 15px;
}
.private-events__text-wrapper._left {
  bottom: 50%;
  -webkit-transform: translateX(43%) translateY(50%) rotate(90deg);
      -ms-transform: translateX(43%) translateY(50%) rotate(90deg);
          transform: translateX(43%) translateY(50%) rotate(90deg);
  right: 15px;
}
.private-events__contact {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  font-size: 12px;
}
.private-events__contact p, .private-events__contact a {
  color: rgba(255, 255, 255, 0.5);
}
.private-events__contact a {
  text-decoration: none;
}
.private-events__contact a:hover {
  text-decoration: underline;
}

.photos {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.photos__image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
}
.photos__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
@media (max-width: 767.98px) {
  .photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photos__group {
    width: 100%;
  }
}

.contact__container {
  padding: 50px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contact__form {
  display: grid;
  grid-template-rows: repeat(3, 60px);
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
@media (max-width: 767.98px) {
  .contact__form {
    grid-template-rows: repeat(6, 60px);
  }
}
.contact__area {
  resize: none;
  grid-column: span 6;
  grid-row: span 2;
}
.contact__info {
  grid-column: span 3;
}
@media (max-width: 767.98px) {
  .contact__info {
    grid-column: span 6;
  }
}
.contact__button {
  grid-column: span 3;
}
@media (max-width: 767.98px) {
  .contact__button {
    grid-column: span 6;
  }
}
.contact__regular-input {
  grid-column: span 2;
}
@media (max-width: 767.98px) {
  .contact__regular-input {
    grid-column: span 6;
  }
}
.contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: calc(8px + 3 * (100vw / 1280));
  font-family: "Open Sans";
}
.contact .info__item {
  text-decoration: none;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .info__item:hover {
  text-decoration: underline;
}
.contact .info__item::before {
  padding-right: 10px;
  color: #E8C300;
  display: inline-block !important;
}
.webp .header{ background-image: url(../img/main/header-bg.webp); }
.webp .nav__logo{ background-image: url(../img/main/logo.webp); }
.webp .our-team{ background-image: url(../img/our-team/bg.webp); }
.webp .specialties{ background-image: url(../img/specialties/bg.webp); }
.webp .private-events{ background-image: url(../img/events/bg.webp); }