@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:600,700,800);
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url(../fonts/icons.ttf) format("ttf"), url(../fonts/icons.woff2#icons) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon0]::before,
[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon0]::before,
[class*=_icon-]::before {
  display: block;
}

._icon-arrow-link:before {
  content: "";
}

._icon-cart:before {
  content: "";
}

._icon-favorite:before {
  content: "";
}

._icon-location:before {
  content: "";
}

._icon-phone:before {
  content: "";
}

._icon-search:before {
  content: "";
}

._icon-send:before {
  content: "";
}

._icon-share:before {
  content: "";
}

._icon-arrow-down:before {
  content: "";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer {
  padding-bottom: 71px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  max-width: 315px;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.footer__logo .green {
  font-family: "Raleway";
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 853px;
  width: 100%;
}
.footer__top {
  padding-bottom: 52px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 1312px) {
  .footer__top {
    padding-bottom: calc(20px + 32 * ((100vw - 320px) / (945 - 320)));
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
@media (max-width: 767.98px) {
  .footer__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 25px;
  }
}
.footer__link {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
@media (max-width: 1312px) and (min-width: 767.98px) {
  .footer__link {
    font-size: calc(8px + 8 * ((100vw - 320px) / (945 - 320)));
  }
}
@media (max-width: 767.98px) {
  .footer__link {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
  }
}
.footer__link::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  position: absolute;
  bottom: -2px;
  left: -5%;
  height: 1.5px;
  width: 0;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__link:hover {
  opacity: 1;
}
.footer__link:hover::before {
  width: 110%;
}
.footer__bottom {
  padding-top: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3px;
}
@media (max-width: 1312px) {
  .footer__bottom {
    padding-top: calc(20px + 39 * ((100vw - 320px) / (945 - 320)));
  }
}
@media (max-width: 767.98px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 1312px) and (min-width: 767.98px) {
  .footer__copyright {
    font-size: calc(6px + 6 * ((100vw - 320px) / (945 - 320)));
  }
}
.footer__bottom-link {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
@media (max-width: 1312px) and (min-width: 767.98px) {
  .footer__bottom-link {
    font-size: calc(6px + 6 * ((100vw - 320px) / (945 - 320)));
  }
}
.footer__bottom-link::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  position: absolute;
  bottom: -2px;
  left: -5%;
  height: 1.5px;
  width: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__bottom-link:hover {
  opacity: 1;
}
.footer__bottom-link:hover::before {
  width: 110%;
}
.header {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media (max-width: 767.98px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.header__container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 15px;
  position: relative;
}
@media (max-width: 767.98px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header__register {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  position: relative;
  text-decoration: none;
}
.header__register::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  position: absolute;
  bottom: -2px;
  left: -5%;
  height: 1.5px;
  width: 0;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__register:hover::before {
  width: 110%;
}
.header__register picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767.98px) {
  .nav {
    width: 100%;
    overflow-x: scroll;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: visible;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 695px;
  width: 100%;
  gap: 5px;
}
@media (max-width: 767.98px) {
  .nav__list {
    gap: 15px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    max-width: none;
  }
}
.nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
@media (max-width: 1312px) and (min-width: 767.98px) {
  .nav__link {
    font-size: calc(8px + 8 * ((100vw - 320px) / (945 - 320)));
  }
}
@media (max-width: 767.98px) {
  .nav__link {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}
.nav__link::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  position: absolute;
  bottom: -2px;
  left: -5%;
  height: 1.5px;
  width: 0;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav__link:hover {
  opacity: 1;
}
.nav__link:hover::before {
  width: 110%;
}

body {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  background-color: #1A1A1A;
}
@media (max-width: 767.98px) {
  body._locked {
    overflow: hidden;
  }
}

body, html {
  height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
._container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 1px;
  color: #FFFFFF;
}
@media (max-width: 1312px) {
  .heading {
    font-size: calc(12px + 48 * ((100vw - 320px) / (945 - 320)));
  }
}
@media (max-width: 479.98px) {
  .heading {
    font-size: 35px;
    text-align: center;
  }
}

.green {
  background: -o-linear-gradient(142.28deg, #A7F306 2.04%, #F3CD06 98.59%);
  background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  opacity: 0.5;
}

.hero {
  margin-top: 65px;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
  position: relative;
  padding-bottom: 260px;
}
@media (max-width: 767.98px) {
  .hero__container {
    padding-bottom: 130px;
  }
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
}
.hero__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  pointer-events: none;
}
.hero__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 27px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: calc((460/1200) * 100%);
}
@media (max-width: 767.98px) {
  .hero__numbers {
    max-width: 460px;
    width: 100%;
  }
}
.hero__number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 32px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.hero__number-container:nth-child(1) {
  width: calc((202/460) * 100%);
}
.hero__number-container:nth-child(1) .hero__number-bg {
  right: 0;
}
.hero__number-container:nth-child(2) {
  width: calc((260/460) * 100%);
}
.hero__number-container:nth-child(2) .hero__number-bg {
  left: 0;
}
.hero__number-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.hero__number {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 12px;
}
@media (max-width: 1312px) {
  .hero__number {
    font-size: calc(20px + 12 * ((100vw - 320px) / (945 - 320)));
  }
}
.hero__number-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.5;
}
@media (max-width: 1312px) {
  .hero__number-text {
    font-size: calc(6px + 6 * ((100vw - 320px) / (945 - 320)));
  }
}
.hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  width: 100%;
}
.hero__text {
  margin-bottom: 48px;
  max-width: 375px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__get-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 200px;
  width: 100%;
  height: 72px;
  background-color: #fff;
  border-radius: 120px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #1A1A1A;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero__get-started:hover {
  background-color: #1A1A1A;
  color: #fff;
}
.hero__button-talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 200px;
  width: 100%;
  min-height: 72px;
  background-color: #1A1A1A;
  border-radius: 120px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 108px;
}
.hero__button-talk:hover {
  background-color: #fff;
  color: #1A1A1A;
}
.hero__hand-wrapper {
  position: absolute;
  top: calc((33/1380) * -100%);
  left: calc((0/1300) * -100%);
  height: auto;
  width: calc((1080/1300) * 100%);
  z-index: 0;
  pointer-events: none;
}
@media (max-width: 1015px) {
  .hero__hand-wrapper {
    z-index: -1;
    opacity: 0.33;
  }
}
.hero__hand {
  width: 100%;
  height: 100%;
}

.stripe {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-bottom: 200px;
  padding-top: 120px;
}
.stripe__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background: -o-linear-gradient(142.28deg, #A7F306 2.04%, #F3CD06 98.59%);
  background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);
  overflow: hidden;
}
.stripe__delimiter {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stripe__body {
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 23px 0;
  font-size: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  background: -o-linear-gradient(142.28deg, #A7F306 2.04%, #F3CD06 98.59%);
  background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);
  color: #ffffff;
  z-index: 999;
}
.stripe__item {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 200%;
  letter-spacing: 0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  background: -webkit-gradient(linear, right top, left top, color-stop(1.34%, #1A1A1A), color-stop(110.19%, #000000));
  background: -o-linear-gradient(right, #1A1A1A 1.34%, #000000 110.19%);
  background: linear-gradient(270deg, #1A1A1A 1.34%, #000000 110.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.tech {
  margin-bottom: 160px;
}
@media (max-with: 767.98px) {
  .tech {
    margin-bottom: 70px;
  }
}
.tech__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tech__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}
@media (max-width: 767.98px) {
  .tech__upper {
    margin-bottom: 45px;
  }
}
@media (max-width: 479.98px) {
  .tech__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.tech__arrow-link {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.tech__arrow-link picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.tech__arrow {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  pointer-events: none;
}
.tech__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (max-width: 479.98px) {
  .tech__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: autofill(1fr);
  }
}
.tech__nav-button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 24px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 32px;
  line-height: 200%;
  text-align: center;
}
@media (max-width: 1312px) {
  .tech__nav-button {
    font-size: calc(16px + 8 * ((100vw - 320px) / (945 - 320)));
  }
}
.tech__nav-button::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: -o-linear-gradient(142.28deg, #A7F306 2.04%, #F3CD06 98.59%);
  background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}
.tech__nav-button::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(217, 217, 217, 0.2);
}
.tech__nav-button:hover, .tech__nav-button._active {
  color: #fff;
}
.tech__nav-button:hover::after, .tech__nav-button._active::after {
  opacity: 1;
}
.tech__tabs {
  margin-top: 80px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 767.98px) {
  .tech__tabs {
    margin-top: 40px;
  }
}
.tech__tab {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}
.tech__tab._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .tech__tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.tech__tab-left {
  margin-top: 80px;
}
.tech__text {
  margin-top: 30px;
}
.tech__list {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.tech__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 46px;
}
.tech__item::before {
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
}
.tech__item::after {
  z-index: 3;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 8px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 11px;
  background-image: url(../img/common/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.tech__learn-more {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  border-radius: 120px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  padding: 24px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
.tech__learn-more picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tech__learn-more::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 120px;
  background: -o-linear-gradient(142.28deg, #A7F306 2.04%, #F3CD06 98.59%);
  background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: -1;
}
.tech__learn-more::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 120px;
  background: rgba(217, 217, 217, 0);
}
.tech__learn-more:hover {
  color: #000;
  border-color: rgba(255, 255, 255, 0);
}
.tech__learn-more:hover::after {
  opacity: 1;
}
.tech__learn-text {
  color: #fff;
}
.tech__image-wrapper {
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 55%;
  max-width: 55%;
}
@media (max-width: 767.98px) {
  .tech__image-wrapper {
    max-width: 100%;
    max-height: 100%;
  }
}
.tech__tab-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.dev__container {
  margin-bottom: 200px;
}
@media (max-width: 767.98px) {
  .dev__container {
    margin-bottom: 100px;
  }
}
.dev__body {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 767.98px) {
  .dev__body {
    margin-top: 45px;
  }
}
@media (max-width: 479.98px) {
  .dev__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.dev__left {
  padding-right: 59px;
}
@media (max-width: 1312px) {
  .dev__left {
    padding-right: calc(5px + 34 * ((100vw - 320px) / (945 - 320)));
  }
}
.dev__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  min-height: 180px;
  width: 100%;
}
@media (max-width: 1312px) {
  .dev__item {
    gap: calc(5px + 17 * ((100vw - 320px) / (945 - 320)));
  }
}
.dev__item picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 160px;
  max-height: 180px;
  width: calc((160/508) * 100%);
}
@media (max-width: 767.98px) {
  .dev__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 479.98px) {
  .dev__item {
    gap: 20px;
  }
}
.dev__item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  min-width: 100px;
}
.dev__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.dev__item-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 200%;
  color: #FFFFFF;
}
.dev__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 64px;
  max-width: 508px;
  width: 100%;
}
.dev__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 55px;
  margin-bottom: 45px;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1.5px;
  border-color: rgba(255, 255, 255, 0.1);
  padding-left: 32px;
  padding-right: 32px;
  gap: 162px;
}
@media (max-width: 1312px) {
  .dev__middle {
    padding-left: calc(5px + 10 * ((100vw - 320px) / (945 - 320)));
    padding-right: calc(5px + 10 * ((100vw - 320px) / (945 - 320)));
  }
}
@media (max-width: 767.98px) {
  .dev__middle {
    display: none;
  }
}
.dev__middle picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 82px;
  max-height: 82px;
  min-width: 34px;
  min-height: 34px;
  width: 100%;
  height: 100%;
}
.dev__middle picture:nth-child(even) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dev__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  min-width: 60px;
}
.dev__right {
  padding-left: 59px;
}
@media (max-width: 1312px) {
  .dev__right {
    padding-left: calc(5px + 34 * ((100vw - 320px) / (945 - 320)));
  }
}

.support {
  margin-bottom: 200px;
}
@media (max-width: 767.98px) {
  .support {
    margin-bottom: 100px;
  }
}
.support__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .support__upper {
    margin-bottom: 40px;
  }
}
@media (max-width: 479.98px) {
  .support__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.support__arrow-line {
  stroke: black;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.support__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.support__buttons button {
  background-color: white;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.support__buttons button:enabled:hover .support__arrow {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.support__buttons button:disabled {
  background-color: transparent;
  cursor: default;
}
.support__buttons button:disabled .support__arrow-line {
  stroke: white;
}
.support__arrow {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.support__button-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.support__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.support__swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.support__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}
.support picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.support__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.support__slide-heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1312px) {
  .support__slide-heading {
    font-size: calc(16px + 14 * ((100vw - 320px) / (945 - 320)));
  }
}

.say {
  margin-bottom: 200px;
}
@media (max-width: 767.98px) {
  .say {
    margin-bottom: 100px;
  }
}
.say__heading {
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 767.98px) {
  .say__heading {
    margin-bottom: 40px;
  }
}
.say__slider {
  position: relative;
}
.say__slider-body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.say__slider-slide {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.say__slider-slide._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.say__text {
  font-weight: 400;
  font-size: 48px;
  line-height: 200%;
}
@media (max-width: 1312px) {
  .say__text {
    font-size: calc(24px + 16 * ((100vw - 320px) / (945 - 320)));
  }
}
.say__highlighted {
  color: #FFFFFF;
}
.say__bottom {
  margin-top: 113px;
  height: 142px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: calc((826/1300) * 100%);
  min-width: calc((826/1300) * 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767.98px) {
  .say__bottom {
    margin-top: 10px;
  }
}
@media (max-width: 1312px) {
  .say__bottom {
    gap: calc(12px + 12 * ((100vw - 320px) / (945 - 320)));
  }
}
@media (max-width: 767.98px) {
  .say__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.say__author {
  font-weight: 500;
  font-size: 32px;
  line-height: 200%;
}
@media (max-width: 1312px) {
  .say__author {
    font-size: calc(12px + 12 * ((100vw - 320px) / (945 - 320)));
  }
}
.say__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 64px;
  width: 100%;
  height: 2px;
  background-color: white;
}
@media (max-width: 1312px) {
  .say__figure {
    max-width: calc(24px + 32 * ((100vw - 320px) / (945 - 320)));
  }
}
.say__author-role {
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
@media (max-width: 1312px) {
  .say__author-role {
    font-size: calc(10px + 8 * ((100vw - 320px) / (945 - 320)));
  }
}
.say__controls {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
}
.say__controls button {
  pointer-events: all;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 142px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  opacity: 1;
}
.say__controls button:disabled {
  cursor: default;
  opacity: 0.5;
}
.say__arrow-line {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  stroke: white;
}
.say__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.say__next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.supported {
  margin-bottom: 180px;
}
@media (max-width: 767.98px) {
  .supported {
    margin-bottom: 90px;
  }
}
.supported__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.supported__heading {
  margin-bottom: 90px;
}
@media (max-width: 767.98px) {
  .supported__heading {
    margin-bottom: 45px;
  }
}
.supported__stripe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.supported__stripe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  gap: 32px;
}
@media (max-width: 767.98px) and (min-width: 479.98px) {
  .supported__stripe {
    gap: 7px;
  }
}
@media (max-width: 479.98px) {
  .supported__stripe {
    margin-left: auto;
    -ms-grid-column: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr;
  }
  .supported__stripe_out {
    margin-right: 0;
    margin-left: 0;
  }
}
.supported__stripe picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.supported__stripe_out {
  margin-right: -10%;
  margin-left: -10%;
  margin-bottom: 84px;
}
@media (max-width: 767.98px) and (min-width: 479.98px) {
  .supported__stripe_out {
    margin-bottom: 42px;
  }
}
@media (max-width: 479.98px) {
  .supported__stripe_out {
    margin-bottom: 32px;
  }
}
.supported__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.supported__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
}